/*CSS TIL INDEX.HTML + GALLERI.HTML*/

/*generelle regler*/

/*Header*/

#tekst_logo {
    background-image: url(indhold/billeder/TUBORG%20NUL%20billede.PNG);
    width: 120px;
    height: 60px;
    background-size: cover;
}

/*Main*/
