/*CSS TIL INDEX.HTML + GALLERI.HTML*/

/**/

/**/

#tekst_logo {
    background-image: url(indhold/billeder/TUBORG%20NUL%20billede.PNG);
    width: 100px;
    height: 50px;
    background-size: cover;
}
