/*CSS TIL INDEX.HTML + GALLERI.HTML*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*****navigation****/


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 16px;
    min-height: 8vh;
    z-index: 1;
}

.logo {
    color: #093A83;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 24px;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #093A83;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 400;
}



.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: #093A83;
    margin: 5px 5px;
    transition: all 0.5s ease;
}

/*toggle kommer fra class i JS*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


@media screen and (max-width:1200px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    .nav-links {
        width: 55%;
    }
}




@media screen and (max-width:700px) {
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        top: 7.9vh;
        background-color: whitesmoke;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /*transform: translateX gør at .nav-links starter ude fra skærmen*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

/* .nav-active er klassen som bliver "toggled" i JS som gør at nav-links kan translate ind ind på skærmen igen fra 100% */
.nav-active {
    transform: translateX(0%);
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*****navigation slut****/


/*****SVG grafer start****/


#graf1 {
    max-width: 800px;
}

#graf2 {
    max-width: 800px;
}

#graf3 {
    max-width: 800px;
}

#chart line {
    stroke: #DBD6D6;
    stroke-width: .5;
}

#chart text {
    font-size: 7px;
    font-family: sans-serif;
    color: white;

}


.bars {
    stroke-width: 20;
    stroke: #A9A5A5;
}

#svar text {
    font-size: 6px;
    font-family: sans-serif;
}

/*****SVG grafer slut****/


/*generelle regler*/
body {
    padding-top: 8vh;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: #093A83;
}



header img {
    height: 40px;
    padding-top: 10px;
    padding-left: 15px;
}


/*Main*/

main {
    background-color: #093A83;
}

#splash-video {
    position: relative;
    width: 100%;
    padding-top: 49.25%;
    overflow: hidden;
}

#splash-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#content,
#content2 {
    background-color: white;
    margin: 10vw 10vw 10vw 10vw;
    padding-bottom: 10vw;

}

/*tilføjet lidt style for at visuallisere hhvordan vores content kommer til at se ud*/
#media_container {
    background-color: #BEE0D9;
    height: 56vw;
}

#tekst_container {
    padding: 0 15px 15px 15px;

}

/*footer*/
footer {
    background-color: #093A83;
}
