/*CSS TIL INDEX.HTML + GALLERI.HTML*/

/*generelle regler*/
* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    /*fjerner scrollbar*/
    display: none;
}

body {
    background-color: #253D80;
}

img {
    width: 100%;
}

h1 {
    color: #fff;
    text-align: right;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 10px;
}

p {
    font-family: sans-serif;
}

/*Header*/
header {
    height: 7vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav img {
    height: 70%;
    width: auto;
    max-height: 5vh;
    margin: auto 0;
    flex-direction: column;
    align-self: flex-start;
}

/*BURGER MENU STYLING */

nav {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #EEEEEE;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 16px;
    z-index: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #093A83;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-size: 18px;
    font-weight: 400;
}



.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 23px;
    height: 2px;
    background-color: #093A83;
    margin: 5px 5px;
    transition: all 0.5s ease;
}

/*toggle kommer fra class i JS*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.nav-active {
    transform: translateX(0%) !important;
    /* vi havde lavet lidt dårligt kode og havde ikke tid til at fikse hirakiret, så !important er den dårlige men virkende løsning*/
}


@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



/*Main*/

main {
    background-color: #253D80;
}

/* iframe styling */
#splash_video {
    display: block;
}

#splash_video iframe {
    width: 100vw;
}

/* Background video style */
#bg_video {
    display: none;
}

/* generel styling for content sections */
#content,
#content2 {
    margin: 10vw 10vw 10vw 10vw;
}

/* style for about */
#about {
    background-color: #EEEEEE;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#about img {
    position: absolute;
    width: 50vw;
    height: auto;
    top: 375px;
}

.column_right {
    padding: 23vw 2vw 2vw 2vw;
}

.info_container {
    padding: 10px;
}

.range_stat {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.info_container input {
    width: 100%;
    appearance: none;
    margin-bottom: 30px;
}

input:disabled {
    background-color: #093A83;
    height: 2px;
    box-shadow: .5px .5px 2.5px .5px rgba(0, 0, 0, 0.80);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 1px #BEE0D9;
    background-color: #BEE0D9;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: .5px .5px 2.5px .5px rgba(0, 0, 0, 0.80);
}

.tekst_container {
    margin: 10px;
    background-color: #EEEEEE;
}

/* style for #BEERHER0 */
#beer_hero {
    background-color: #EEEEEE;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.second_heading {
    text-align: left;
}

#beer_hero img {
    position: absolute;
    width: 60vw;
    height: auto;
    top: 1200px;
    right: 12px;
}

/* media queries */
/* for tablet */
@media (min-width: 768px) {
    #splash_video {
        display: none;
    }

    #bg_video {
        display: block;
        width: 100vw;
    }

    #content {
        margin: 10vw 10vw 10vw 0vw;
    }

    #about {
        border-radius: 0 10px 10px 0;
    }

    #about img {
        width: 38vw;
        top: 575px;
        left: 40px;
    }

    .column_left {
        flex-basis: 200px;
        flex-grow: 1;
    }

    .column_right {
        flex-basis: 200px;
        flex-grow: 1;
        padding: 10px
    }

    .info_container {
        padding: 10px;
    }

    #content2 {
        margin: 10vw 0 10vw 10vw;
    }

    #beer_hero {
        border-radius: 10px 0 0 10px;
        flex-direction: row-reverse;
    }

    #beer_hero img {
        width: 50vw;
        top: 1300px;
        right: -20px;
    }
}

/* for desktop */
@media (min-width: 1024px) {
    #about img {
        top: 800px;
    }

    #beer_hero img {
        width: 40vw;
        top: 1500px;
    }
}

/*footer*/
footer {
    background-color: #00193e;
    display: flex;
    flex-direction: column;
}


.footer_element {
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    max-height: 8vh;
    width: auto;
    margin-bottom: 30px;
    padding-top: 30px;
}

footer p {
    color: white;
}








@media screen and (max-width:1200px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:900px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width:700px) {
    .nav-links {
        position: fixed;
        right: 0px;
        height: 100vh;
        top: 7vh;
        background-color: #EEEEEE;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        /*transform: translateX gør at .nav-links starter ude fra skærmen*/
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        overflow: hidden;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

/* .nav-active er klassen som bliver "toggled" i JS som gør at nav-links kan translate ind ind på skærmen igen fra 100% */

/*****BURGER MENU****/
