/*CSS TIL INDEX.HTML + GALLERI.HTML*/

/*generelle regler*/
* {
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    /*fjerner scrollbar*/
    display: none;
}

body {
    background-color: #093A83;
}

img {
    width: 100%;
}

h1 {
    color: #fff;
    text-align: right;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-family: sans-serif;
}

h3 {
    margin-bottom: 10px;
}

p {
    font-family: sans-serif;
}

/*Header*/
header {
    height: 7vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

header img {
    height: 70%;
    padding-top: 10px;
    padding-left: 15px;
}


/*Main*/

main {
    background-color: #253D80;
}

#splash-video {
    position: relative;
    height: 93vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 300px;
}

#splash-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#content,
#content2 {
    margin: 10vw 10vw 10vw 10vw;
}

/* style for about */
#about {
    background-color: #EEEEEE;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.80);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

#about img {
    position: absolute;
    width: 60vw;
    height: auto;
    bottom: -445px;
}

.column_right {
    padding: 23vw 2vw 2vw 2vw;
}

.info_container {
    padding: 10px;
}

.range_stat {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
    margin-bottom: 5px;
}

.info_container input {
    width: 100%;
    appearance: none;
    margin-bottom: 30px;
}

input:disabled {
    background-color: #093A83;
    height: 2px;
    box-shadow: .5px .5px 2.5px .5px rgba(0, 0, 0, 0.80);
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: solid 1px #BEE0D9;
    background-color: #BEE0D9;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: .5px .5px 2.5px .5px rgba(0, 0, 0, 0.80);
}

.tekst_container {
    padding: 10px;
    background-color: #EEEEEE;
}

/* media queries */
/* for tablet */
@media (min-width: 768px) {
    #content {
        margin: 10vw 20vw 10vw 0vw;
    }

    #about {
        border-radius: 0 10px 10px 0;
    }

    #about img {
        width: 38vw;
        bottom: -480px;
    }

    .column_left {
        flex-basis: 200px;
        flex-grow: 1;
    }

    .column_right {
        flex-basis: 200px;
        flex-grow: 1;
        padding: 10px
    }

    .info_container {
        padding: 10px;

    }
}

/* for desktop */
@media (min-width: 1024px) {
    #about img {
        bottom: -550px;
    }
}

/*footer*/
footer {
    background-color: #093A83;
}

/*content*/

.billeder {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.80);
}

.billeder2 {
    flex-grow: 4;
    flex-basis: 200px;
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.video {
    margin: auto;
    margin-bottom: 50px;
}
