/*CSS TIL INDEX.HTML + GALLERI.HTML*/

/*generelle regler*/
* {}

::-webkit-scrollbar {
    /*fjerner scrollbar*/
    display: none;
}

body {
    margin: 0;
    background-color: #253D80;
}

/*Header*/
header {
    height: 7vh;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;


}

header img {
    height: 70%;
    padding-top: 10px;
    padding-left: 15px;
}


/*Main*/

main {
    background-color: #253D80;
}

#splash-video {
    position: relative;
    height: 93vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 300px;
}

#splash-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#content {
    margin: 10vw 7vw 10vw 0vw;
}

#content img {
    height: 400px;
    position: absolute;
    left: -250px;
    bottom: -67px;
}

#content #media_container h2 {
    position: absolute;
    left: 220px;
    bottom: 30px;
    z-index: 1;
    color: white;
    font-size: 2.3rem;
    text-align: center;
}

#content #tekst_container {
    border-radius: 0 2% 2% 0;
}

#content2 {
    margin: 500px 0vw 10vw 7vw;
}

#content2 img {
    height: 500px;
    position: absolute;
    bottom: -60px;
    margin-top: 400px;

}

#content2 #tekst_container {
    border-radius: 2% 0 0% 2%;
}

/*tilføjet lidt style for at visuallisere hhvordan vores content kommer til at se ud*/
#media_container {
    padding-bottom: 10vw;
    opacity: 1;
    position: relative;
}

#tekst_container {
    padding: 2% 18% 15px 18%;
    background-color: #EEEEEE;


}

/*footer*/
footer {
    background-color: #093A83;
}
